$colors: (
	primary: #0f4390,
	secondary: #83007d,

	black: #000,
	white: #fff,

	grayMeta: #909090,
	grayTer: #e8eae9,
	grayNav: #393939,
	grayText: #505050,
	graySeperator: #c7cdcd,
	grayAlt: #97999b,

	bodyBorder: #202020,

	blueBright: #0096d7,
	blueHover: #52bde6,
	blueActive: #1381ae,
	greenBright: #86bc25,

	redError: #e60021,

	linkedin: #007bb6,
	twitter: #00aced,
	facebook: #3b5998,
	youtube: #bb0000,
	google: #dd4b39,
	instagram: #e1306c,
	mail: #4d97aa,
	whatsapp: #65bc54
);
